<meta charset="UTF-8">
<title>Vectortowns</title>
<link rel="shortcut icon" href="<%= staticServer %>/static/img/favicon.ico" type="image/x-icon">
<link rel="icon" href="<%= staticServer %>/static/img/favicon.ico" type="image/x-icon">