<!-- Vectortowns.com Terms of Use -->
<h5 class="pre-style-terms">Termos de Uso de Vectortowns.com</h5>
<div class="pre-style-terms">INFORMAÇÃO SOBRE NÓS
Vectortowns (vectortowns.com) é um site mantido por lgapontes.com, uma startup de jogos com escritório localizado no Brasil, RJ (neste documento denominado como "nós").

PARA SUA SEGURANÇA
Os temas e conteúdos do nosso site destinam-se a jogadores adultos (maiores de 18 anos), e não são recomendados para crianças. Há conteúdo com descrições de violência (com sangue), uso de drogas ou álcool, referências sexuais e linguagem obscena. Aos pais que permitirem que seus filhos usem nosso site, nós aconselhamos que mantenham um diálogo sobre segurança on-line. Os menores que estão usando o site devem estar conscientes dos riscos potenciais e de sua obrigação de cumprir estes termos de uso durante o uso. Você nunca deve revelar nenhuma informação pessoal sobre você ou qualquer outra pessoa (por exemplo, seu endereço de e-mail ou nome completo) e deve proceder com cautela ao usar nosso site.

USOS PROIBIDOS
Você pode usar nosso site apenas para fins legais. Você não pode usar nosso site:
- De qualquer forma que viole qualquer lei ou regulamento local, nacional ou internacional aplicável;
- De qualquer forma que seja ilegal ou fraudulenta, ou tenha qualquer finalidade ou efeito ilegal ou fraudulento;
- Para download, upload, utilização ou reutilização, com consentimento, de conteúdos pornográficos de qualquer natureza, legais ou ilegais;
- Com o propósito de prejudicar ou tentar prejudicar menores de qualquer forma;
- Para enviar, receber, fazer download, upload, usar ou reutilizar, conscientemente, qualquer material que não cumpra com os nossos padrões de conteúdo, conforme detalhado abaixo:
    - transmitir ou obter o envio de qualquer material publicitário ou promocional não solicitado ou não autorizado ou qualquer outra forma de solicitação similar (spam);
    - transmitir conscientemente quaisquer dados, enviar ou fazer upload de qualquer material que contenha vírus, cavalos de tróia (trojans), worms, time-bombs, keystroke loggers, spyware, adware ou qualquer outro programa prejudicial ou código de computador semelhante projetado para afetar perigosamente o funcionamento de qualquer software de computador ou hardware.

Você também concorda:
- Não criar ou operar várias contas;
- Não acessar a conta de outro usuário ou dar acesso a sua conta a outro usuário;
- Não transferir ou atribuir a sua conta ou qualquer parte do seu inventário de jogos a outro usuário;
- Não usar software de terceiros ou tirar proveito de uma falha no site enquanto estiver usando o site;
- Cumprir as regras do jogo e os códigos de conduta em todos os momentos;
- Não reproduzir, duplicar, copiar ou revender qualquer parte do nosso site em violação destes termos de uso. Nota: Há conteúdo neste site (sinalizado) que foi obtido a partir de publicações abertas na internet. Esse conteúdo pode ser reproduzido, desde que respeite as regras dos sites a partir dos quais foram obtidos;
- Não acessar sem autorização, interferir, danificar ou interromper:
    - qualquer parte do nosso site;
    - qualquer equipamento ou rede em que o nosso site está armazenado;
    - qualquer software utilizado no fornecimento do nosso site; ou
    - qualquer equipamento, rede ou software mantidos ou utilizados por terceiros.

SERVIÇOS INTERATIVOS
Podemos, de tempos em tempos, fornecer serviços interativos em nosso site, incluindo, sem limitação:
- Wiki;
- Salas de bate-papo;
- Enviar e-mail com conteúdo exclusivo do site. Nota: O e-mail dos usuários não é divulgado e outros usuários não poderão usá-lo para enviar conteúdo de qualquer tipo;
- Quadros de avisos; e
- Vectortowns World Room (sala iterativa onde os jogadores interagem uns com os outros).

Durante o fornecimento de quaisquer um de nossos serviços, iremos fornecer informações claras sobre o tipo de serviço oferecido, se ele é moderado e que forma de moderação é usado (incluindo se é humano ou técnico). Faremos o possível para avaliar os eventuais riscos para os usuários no uso de qualquer serviço de "moderação" de terceiros (outros usuários) fornecido em nosso site, decidindo em cada caso se é apropriado usá-lo, considerando todos os riscos envolvidos. No entanto, não temos a obrigação de supervisionar, monitorar ou moderar qualquer serviço interativo que fornecemos em nosso site e expressamente excluímos nossa responsabilidade por qualquer perda ou dano decorrente do uso de qualquer serviço interativo por um usuário, em violação dos nossos padrões de conteúdo. O uso de qualquer de nossos serviços interativos por um menor está sujeito ao consentimento de seus pais ou responsáveis. Considerando que a moderação não é infalível, aos pais que permitem o uso do serviço interativo aos filhos, nós aconselhamos manter um diálogo sobre a segurança on-line. Os menores que estão usando qualquer serviço interativo devem ser conscientizados dos riscos potenciais para eles. Ao prover um serviço interativo moderado, normalmente forneceremos um meio de entrar em contato com o moderador, caso ocorra uma preocupação ou dificuldade.

PADRÕES DE CONTEÚDO
Esses padrões de conteúdo se aplicam a todo e qualquer material que você contribui para o nosso site ("contribuições") e a quaisquer serviços interativos associados a ele. Você deve cumprir a especificação dos seguintes padrões a risca. As normas aplicam-se a cada parte de qualquer contribuição, bem como ao seu todo.

As contribuições devem:
- Ter veracidade (quando indicarem fatos deste fim);
- Ser genuinamente contidas (onde elas declararem opiniões);
- Cumprir a lei aplicável em qualquer país do qual sejam afixadas.

As contribuições não devem:
- Conter qualquer material que seja difamatório a qualquer pessoa;
- Conter qualquer material que seja obsceno, ofensivo ou odioso;
- Promover material sexualmente explícito;
- Promover violência;
- Promover discriminação baseada na raça, sexo, religião, nacionalidade, deficiência, orientação sexual ou idade;
- Infringir qualquer direito autoral ou marca de qualquer outra pessoa;
- Ser susceptível de enganar qualquer pessoa;
- Conter violação de qualquer obrigação legal devida a um terceiro, tal como um dever contratual ou um dever de confiança;
- Promover qualquer atividade ilegal;
- Ser ameaçador, abusar ou invadir a privacidade de outros, ou causar incômodo, inconveniência ou ansiedade desnecessária;
- Ser susceptível de assediar, perturbar, embaraçar, alarmar ou incomodar qualquer outra pessoa;
- Ser usado para representar qualquer pessoa, ou para deturpar sua identidade ou afiliação com qualquer pessoa;
- Dá a impressão de que eles emanam de nós, se não for esse o caso;
- Defender, promover ou assistir qualquer ato ilícito como, por exemplo, infração de direitos autorais.

SUSPENSÃO E TERMINAÇÃO
Determinaremos, a nosso critério, se houve uma violação desta política durante o uso do nosso site. Se uma violação desta política ocorrer, podemos tomar as medidas que julgarmos apropriadas.

O não cumprimento destes termos de uso pode resultar em uma ou todas ações a seguir:
- Retirada imediata, temporária ou permanente do seu direito de utilização do nosso site;
- Remoção imediata, temporária ou permanente de qualquer postagem ou material carregado por você para o nosso site;
- Emissão de um aviso para você;
- Processo judicial contra você para o reembolso de todos os custos com base em indenização (incluindo, mas não limitado a custos administrativos e legais cabíveis) resultantes da violação;
- Outras ações legais contra você;
- Divulgação de tais informações às autoridades policiais que julgarmos necessárias.

As respostas descritas nesta política não são limitadas e podemos tomar qualquer outra ação que considerarmos apropriada.

ACESSO AO NOSSO SITE
O acesso ao nosso site é permitido temporariamente e reservamo-nos no direito de retirar ou alterar o serviço que oferecemos sem aviso prévio. Não seremos responsáveis ​​se, por qualquer motivo, o nosso site não estiver disponível a qualquer momento ou por qualquer período. De vez em quando, podemos restringir aos usuários registrados ou não o acesso a algumas partes ou a todo o site.
Se você escolher, ou lhe for fornecido um código de identificação do usuário, senha ou qualquer outra informação como parte de nossos procedimentos de segurança, você deve tratar essas informações como confidenciais, e não divulgá-las a terceiros. Temos o direito de desativar qualquer código de identificação do usuário ou senha, escolhida por você ou alocada por nós, a qualquer momento, se em nossa opinião você não cumpriu com qualquer das disposições destes termos de uso. Você é responsável por todas as ações necessárias para que tenha acesso ao nosso site. Você também é responsável por garantir que todas as pessoas que acessam nosso site através de sua conexão à Internet estão cientes e concordam com o cumprimento desses termos.

DIREITOS DE PROPRIEDADE INTELECTUAL
Existem dois tipos de conteúdo no nosso site:
- Conteúdo protegido pelos direitos de propriedade intelectual do nosso site. Essas obras são protegidas por leis e tratados de direitos autorais em todo o mundo e não podem ser copiadas, baixadas, modificadas, transmitidas, vendidas ou divulgadas sem autorização prévia. Todos estes direitos são reservados. Se você imprimir, copiar ou baixar qualquer parte do nosso site em violação destes termos de uso, o seu direito de usar nosso site será cessado imediatamente e você deve, a nosso critério, devolver ou destruir qualquer cópia dos materiais adquiridos;
- Conteúdo gratuito, com origem pública na Internet. Estes conteúdos podem ser redistribuídos ou modificados, respeitando o licenciamento da sua origem.

Em ambos os tipos de conteúdo, você pode imprimir uma cópia e pode fazer o download de resumos de qualquer página do nosso site para sua referência pessoal, além de poder indicar para outras pessoas o material publicado. Você não deve modificar as cópias em papel ou digitais de qualquer material que tenha impresso ou baixado. Não deve usar ilustrações, fotografias, vídeo ou sequências de áudio ou qualquer gráfico separadamente de qualquer texto que o acompanhe. Nosso status (e o de qualquer contribuinte identificado) como autores de material no site deve ser sempre reconhecido. Você não deve usar qualquer parte dos materiais em nosso site para fins comerciais sem obter uma licença para fazê-lo de nós ou de nossos licenciadores.

CONFIANÇA SOBRE INFORMAÇÕES PUBLICADAS
Os comentários e outros materiais publicados em nosso site não se destinam ao acréscimo de responsabilidade que temos a respeito do conteúdo publicado. Nós, portanto, renunciamos a toda responsabilidade e responsabilidade decorrentes de qualquer confiança depositada em tais materiais por qualquer visitante do nosso site, ou por qualquer pessoa que possa ser informado de qualquer um dos seus conteúdos.

MUDANÇAS PERIÓDICAS NO SITE
Nosso objetivo é atualizar nosso site regularmente e podemos alterar o conteúdo a qualquer momento. Se surgir a necessidade, podemos suspender o acesso ao nosso site ou fechá-lo indefinidamente. Qualquer material do nosso site pode estar desatualizado a qualquer momento e não temos a obrigação de atualizá-lo.

NOSSA RESPONSABILIDADE
O material exibido em nosso site é fornecido sem quaisquer garantias, condições ou veracidade dos fatos. Na forma da lei, nós expressamente excluímos:
- Todas as condições, garantias e outros termos que de outra forma poderiam ser implicados por estatuto, lei comum ou lei de equidade;
- Qualquer responsabilidade por qualquer perda ou dano direto, indireto ou conseqüencial, incorrido por qualquer usuário em conexão com o nosso site ou em conexão com o uso, incapacidade de usar ou resultados do uso de nosso site, quaisquer sites vinculados a ele e quaisquer materiais Incluindo, sem limitação, qualquer responsabilidade por:
    - perda de rendas ou receitas;
    - perda de negócios;
    - perda de lucros ou de contratos;
    - perda de poupanças antecipadas;
    - perda de dados;
    - perda de "goodwill" (cuja tração mais próxima para o Português é "ativo intangível derivado de negócios entre empresas");
    - desperdício de tempo de gestão ou de escritório;
    - e por qualquer outra perda ou dano de qualquer tipo, independentemente da origem lícita ou ilícita (incluindo negligência), de uma quebra de contrato ou de outra forma, mesmo que previsível, desde que esta condição não impeça reclamações por perdas ou danos ao seu bem de propriedade ou quaisquer outros créditos por perdas financeiras diretas que não sejam excluídos por nenhuma das categorias estabelecidas acima.

Isso não afeta nossa responsabilidade por morte ou danos pessoais decorrentes de nossa negligência, nem nossa responsabilidade por falsas declarações fraudulentas ou falsas declarações quanto a uma questão fundamental, nem qualquer outra responsabilidade que não possa ser excluída ou limitada pela lei aplicável.

INFORMAÇÕES SOBRE VOCÊ E SUAS VISITAS AO NOSSO SITE
Processamos informações sobre você de acordo com nossa política de privacidade. Ao utilizar o nosso site, você concorda com esse processamento e garante que todos os dados fornecidos por você são verídicos.

TRANSACÇÕES CONCLUÍDAS ATRAVÉS DO NOSSO SITE
Os contratos para fornecimento de serviços formados através do nosso site ou como resultado de visitas feitas por você são regidos pelos nossos termos e condições de fornecimento.

UPLOAD DE MATERIAL PARA O NOSSO SITE
Sempre que fizer uso de um recurso que permita o upload de material para o nosso site ou para fazer contato com outros usuários de nosso site, você deve cumprir os padrões de conteúdo estabelecidos. Você deve garantir que qualquer contribuição desse tipo cumpra nossas normas, o que nos isenta por qualquer violação dessa garantia. Qualquer material que você enviar para o nosso site será considerado não confidencial e não proprietário, e temos o direito de usar, copiar, distribuir e divulgar a terceiros qualquer material para qualquer finalidade.
Nós também temos o direito de revelar sua identidade a qualquer terceiro que esteja reportando  violação de seus direitos de propriedade intelectual ou de seu direito à privacidade. Isso se aplica a qualquer material postado ou carregado por você em nosso site.
Não seremos responsáveis, ou responsáveis ​​por terceiros, pelo conteúdo ou veracidade de qualquer material publicado por você ou qualquer outro usuário do nosso site. Temos o direito de remover qualquer material ou publicação que você faça no nosso site se, em nossa opinião, tal material não estiver em conformidade com os padrões de conteúdo estabelecidos nestes termos.

VÍRUS, HACKING E OUTRAS INFRACÇÕES
Você não deve usar nosso site de forma maliciosa, introduzindo vírus, trojans, worms, bombas lógicas ou outro material que seja malicioso ou tecnologicamente prejudicial. Você não deve tentar obter acesso não autorizado ao nosso site, ao servidor no qual o nosso site está hospedado ou a qualquer servidor, computador ou banco de dados conectado ao nosso site. Você não deve atacar nosso site por meio de um ataque de negação de serviço ou um ataque de negação de serviço distribuído. Ao infringir esta disposição, você estará cometendo um crime. Iremos comunicar qualquer violação às autoridades responsáveis ​​pela aplicação da lei e cooperaremos com essas autoridades, divulgando a sua identidade. No caso de tal violação, seu direito de usar nosso site cessará imediatamente. Não seremos responsáveis ​​por qualquer perda ou dano causado por um ataque de negação de serviço distribuído, vírus ou outro material tecnicamente prejudicial que possa infectar o seu equipamento (computador, celular, tablet, etc), programas de computador, dados ou outro material proprietário devido ao seu uso do nosso site ou para download de qualquer material postado, ou em qualquer site ligado a ele.

CRIANDO UM LINK COM NOSSO SITE
Você poderá criar um link para a nossa página inicial, desde que o faça de forma equitativa e legal e não prejudique a nossa reputação nem aproveite a sua vantagem. Porém não deve estabelecer um link de forma a sugerir qualquer forma de associação, aprovação ou endosso da nossa parte quando este não existir. Você não deve estabelecer um link de qualquer site que não é de sua propriedade. Nosso site não deve ser enquadrado em qualquer outro site. Não será permitido criar um link para qualquer parte do nosso site que não seja a página principal. Reservamo-nos o direito de retirar a permissão do link sem aviso prévio. O site do qual você está vinculando deve cumprir, em todos os aspectos, os padrões de conteúdo estabelecidos neste documento.
Se você deseja fazer qualquer uso do material em nosso site que não seja o descrito acima, por favor, envie seu pedido para: dev@vectortowns.com

LINKS A PARTIR DO NOSSO SITE
Os links para outros sites e recursos de terceiros forneceidos em nosso site são apenas para sua informação. Não temos controle sobre o conteúdo desses sites ou recursos e não aceitamos qualquer responsabilidade por eles ou por qualquer perda ou dano que possa surgir do uso deles.

JURISDIÇÃO E LEI APLICÁVEL
Os tribunais brasileiros terão jurisdição exclusiva sobre qualquer reclamação decorrente ou relacionada a uma visita ao nosso site, embora tenhamos o direito de interpor recurso contra você por violação dessas condições em seu país de residência ou em qualquer outro país relevante. Estes Termos de Uso, e qualquer litígio ou reclamação que surja de ou em conexão com eles, ou com a sua matéria ou formação (incluindo disputas ou reclamações não-contratuais), serão regidos e interpretados de acordo com a lei da República Federativa do Brasil.

VARIAÇÕES DESTES TERMOS
Podemos rever estes termos de uso a qualquer momento, alterando esta página. Espera-se que você verifique esta página de vez em quando para tomar conhecimento de quaisquer alterações que fizermos, pois elas são vinculativas para você. Algumas das disposições contidas nestes termos de utilização também podem ser substituídas por disposições ou avisos publicados em outro local do nosso site.

SUAS PREOCUPAÇÕES
Se você tiver alguma dúvida sobre o material que aparece em nosso site, entre em contato através de dev@vectortowns.com</div>

<br />

<!-- Vectortowns.com Codes of Conduct -->
<h5 class="pre-style-terms">Código de Conduta de Vectortowns.com</h5>
<div class="pre-style-terms">CÓDIGO DE CONDUTA DO JOGO
Ao jogar este jogo você está concordando com os seguintes termos. Eu não:
- Criarei várias contas para ganhar mais itens ou dinheiro enquanto jogo este jogo;
- Venderei minha conta ou inventário da conta por moeda corrente real ao jogar este jogo;
- Vou trapacear usando programas de terceiros ao jogar este jogo;
- Aproveitar um bug ou uma vulnerabilidade durante o jogo;
- Irei contra qualquer outro Código de Conduta publicado enquanto estiver jogando este jogo.

Se você for pego quebrando estes termos, será tratado adequadamente por um membro da equipe de Vectortowns.

CÓDIGO DE CONDUTA DA WIKI
A wiki do nosso site é disponibilizada através do site wordpress.com. Ao usá-la, você deve obedecer as regras de uso de wordpress.com, acrescentando as regras de conduta listadas abaixo. Eu não:
- Usarei linguagem obscena ou pesada em meus posts enquanto estiver usando a wiki;
- Atacarei ou perseguirei outro jogador enquanto uso a wiki;
- Tentarei obter acesso a outra conta ou roubar seus dados ao usar a wiki;
- Publicarei fotos de outros jogadores sem o consentimento e permissão dos mesmos;
- Discriminarei (por raça/sexo/etc) outros jogadores enquanto estiver usando a wiki;
- Enviarei spam ou "flood" ao usar a wiki.

Se você for pego quebrando estes termos, será tratado adequadamente por um membro da equipe de Vectortowns.

CÓDIGO DE CONDUTA DAS SALAS DE BATE-PAPO
Ao usar este recurso, você concorda com os seguintes termos. Eu não farei:
- Uso de linguagem obscena ou pesada para outro jogador enquanto estiver usando as salas de bate-papo;
- Ataque ou perseguição a outro jogador enquanto estiver usando as salas de bate-papo;
- Tentativa de obter acesso a outra conta ou roubar seus objetos enquanto estiver usando as salas de bate-papo;
- Discriminação por raça/sexo/etc com outro jogador enquanto estiver usando as salas de bate-papo;
- Uso de spam ou "flood" com outro jogador ao usar as salas de bate-papo;

Se você for pego quebrando estes termos, será tratado adequadamente por um membro da equipe de Vectortowns.

CÓDIGO DE CONDUTA DA FOTO E ASSINATURA
Ao usar este recurso, você concorda com os seguintes termos. Eu não:
- Farei upload de imagens obscenas enquanto estiver usando este recurso;
- Irei contra as regras do jogador ao usar este recurso;
- Farei upload de imagens ilegais enquanto estiver usando este recurso;
- Aceitarei crédito por trabalhos copiados durante o uso deste recurso;
- Usarei imagens de outros jogadores sem sua permissão em assinaturas ou fotos de perfil;
- Enviarei links para sites infectados a outros jogadores enquanto estiver usando esse recurso;
- Farei upload de arquivos em desacordo com os requisitos técnicos exibidos pelo site (tamanho das imagens, tipo de arquivo, etc);
- Farei upload de arquivos infectados durante a utilização deste recurso.

Se você for pego quebrando estes termos, será tratado adequadamente por um membro da equipe de Vectortowns.

CÓDIGO DE CONDUTA DA VECTORTOWNS WORLD ROOM
Ao usar este recurso, você concorda com os seguintes termos. Eu não:
- Enviarei comandos para o servidor por mecanismo diferentes dos disponibilizados pelo próprio site, tais como robôs que automatizam ações (bot).
- Irei contra as regras do jogador ao usar este recurso;
- Usar imagens de outros jogadores sem sua permissão em assinaturas ou fotos de perfil;
- Enviarei links para sites infectados a outros jogadores enquanto estiver usando esse recurso;
- Farei upload de arquivos em desacordo com os requisitos técnicos exibidos pelo site (tamanho das imagens, tipo de arquivo, etc);
- Farei upload de arquivos infectados durante a utilização deste recurso.

Se você for pego quebrando estes termos, será tratado adequadamente por um membro da equipe de Vectortowns.

CÓDIGO DE CONDUTA DE SEGURANÇA
Ao usar todos os recursos deste site, você concorda com os seguintes termos. Eu não farei:
- Acesso ou tentativa de acesso sem a Secure Socket Layer (SSL) oferecido pelo protocolo HTTPS do site;
- Fraude ou tentativa de corromper a confiança do certificado eletrônico escolhido pelo site para autenticar os serviços;
- Conscientemente, transmissão de dados, upload ou envio de qualquer material que contenha vírus, cavalos de tróia, worms, time-bombs, keyloggers, spyware, adware ou qualquer outro programa prejudicial ou código de computador semelhante projetado para afetar negativamente o funcionamento de qualquer software de computador ou hardware;
- Ataque, tentativa de ataque ou ação para comprometer o desempenho do nosso site com ataques de negação de serviço, negação de serviço distribuída ou qualquer recurso mal-intencionado.

Se você for pego quebrando estes termos, será tratado adequadamente por um membro da equipe de Vectortowns.</div>

<br />

<!-- Vectortown's game offenses and punishments -->
<h5 class="pre-style-terms">Ofensas e suas punições do jogo Vectortown.com</h5>
<div class="pre-style-terms">DELEÇÃO OU PROIBIÇÃO DE JOGO
Uma conta pode ser excluída com todos os seus dados de jogo se:
- O usuário tentar negociar ou negociar elementos deste jogo por dinheiro ou serviços. Os compradores e vendedores podem ser permanentemente banidos do jogo pela equipe de monitoramento;
- O usuário vender, fornecer ou trocar sua conta com outros usuários;
- O usuário invadir a conta de outros usuários;
- O usuário explorar ou tentar explorar vulnerabilidades do site. Se você encontrar alguma, por favor avise-nos através de dev@vectortowns.com e ajude-nos a corrigi-la;
- O usuário tiver várias contas. Se você perdeu o acesso à sua conta, informe-nos! Podemos ajudá-lo a recuperá-la;
- O usuário comete violações sociais, tais como discriminação, assédio, abuso verbal, publicação de conteúdo obsceno, comprometimento da segurança, fingir ser outra pessoa ou autoridade, incentivar a quebra de regras, e flooding ou spamming de conteúdo indesejável, inapropriado, perigosos ou que causem irritação a outros usuários.

O rastreamento de atividades ilegais é simples, e quaisquer contas envolvidas serão encerradas na primeira infração. A equipe de vectortowns pode excluir a conta (e os dados de jogo) desses infratores sem aviso prévio.</div>

<br />