<!-- Vectortowns.com Terms of Use -->
<h5 class="pre-style-terms">Vectortowns.com Terms of Use</h5>
<div class="pre-style-terms">INFORMATION ABOUT US
Vectortowns (vectortowns.com) is a site operated by lgapontes.com, a game startup with office located in Brazil, RJ ("we" or "us").

YOUR STATUS AND SAFETY
The themes and contents of our site are intended for adult players (over 18 years old), not recommended for children. There is content with descriptions of violence (with blood), drug or alcohol use, sexual references and obscene language. We advise parents who permit their children to use our site that it is important that they communicate with their children about their safety online. Minors who are using the site should be made aware of the potential risks to them and of their obligation to comply with these terms of website use when using the site. You should never reveal any personal information about yourself or anyone else (for example, your email address or full name) and you should proceed with care and judgement when using our site.

PROHIBITED USES
You may use our site only for lawful purposes. You may not use our site:
- In any way that breaches any applicable local, national or international law or regulation;
- In any way that is unlawful or fraudulent, or has any unlawful or fraudulent purpose or effect;
- For the purpose of uploading, downloading, using or reusing, knowingly, pornographic content of any kind, whether it be lawful or illegal;
- For the purpose of harming or attempting to harm minors in any way;
- To send, knowingly receive, upload, download, use or re-use any material which does not comply with our content standards, as detailed below:
    - To transmit, or procure the sending of, any unsolicited or unauthorized advertising or promotional material or any other form of similar solicitation (spam);
    - To knowingly transmit any data, send or upload any material that contains viruses, trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware.

You also agree:
- Not to create or operate multiple accounts;
- Not to access another user’s account or to give access to your account to another user;
- Not to transfer or assign your account or any part of your game inventory to another user;
- Not to use third party software or take advantage of a fault in the site while using the site;
- To comply with the Game Rules and Codes of Conducts at all times;
- Not to reproduce, duplicate, copy or re-sell any part of our site in contravention of these terms of use. Note: There is content on this site (flagged) that was obtained from open publications on the internet. Such content may be reproduced, provided that they respect the rules of the websites from which they were obtained;
- Not to access without authority, interfere with, damage or disrupt:
    - any part of our site;
    - any equipment or network on which our site is stored;
    - any software used in the provision of our site; or
    - any equipment or network or software owned or used by any third party.

INTERACTIVE SERVICES
We may from time to time provide interactive services on our site, including, without limitation:
- Wiki;
- Chat rooms;
- Sending e-mail for site-exclusive content. Note: Users' email is not disclosed and other users will not be able to use it to send content of any kind;
- Bulletin boards; and
- Vectortowns World Room (iterative room where players interact with each other);

Where we do provide any interactive service, we will provide clear information to you about the kind of service offered, if it is moderated and what form of moderation is used (including whether it is human or technical). We will do our best to assess any possible risks for users from third parties when they use any interactive service provided on our site, and we will decide in each case whether it is appropriate to use moderation of the relevant service (including what kind of moderation to use) in the light of those risks. However, we are under no obligation to oversee, monitor or moderate any interactive service we provide on our site, and we expressly exclude our liability for any loss or damage arising from the use of any interactive service by a user in contravention of our content standards, whether the service is moderated or not. The use of any of our interactive services by a minor is subject to the consent of their parent or guardian. We advise parents who permit their children to use an interactive service that it is important that they communicate with their children about their safety online, as moderation is not foolproof. Minors who are using any interactive service should be made aware of the potential risks to them. Where we do moderate an interactive service, we will normally provide you with a means of contacting the moderator, should a concern or difficulty arise.

CONTENT STANDARDS
These content standards apply to any and all material which you contribute to our site ("contributions"), and to any interactive services associated with it. You must comply with the spirit of the following standards as well as the letter. The standards apply to each part of any contribution as well as to its whole.

Contributions must:
- Be accurate (where they state facts);
- Be genuinely held (where they state opinions);
- Comply with applicable law in any country from which they are posted.

Contributions must not:
- Contain any material which is defamatory of any person;
- Contain any material which is obscene, offensive, hateful or inflammatory;
- Promote sexually explicit material;
- Promote violence;
- Promote discrimination based on race, sex, religion, nationality, disability, sexual orientation or age;
- Infringe any copyright, database right or trade mark of any other person;
- Be likely to deceive any person;
- Be made in breach of any legal duty owed to a third party, such as a contractual duty or a duty of confidence;
- Promote any illegal activity;
- Be threatening, abuse or invade another's privacy, or cause annoyance, inconvenience or needless anxiety;
- Be likely to harass, upset, embarrass, alarm or annoy any other person;
- Be used to impersonate any person, or to misrepresent your identity or affiliation with any person;
- Give the impression that they emanate from us, if this is not the case;
- Advocate, promote or assist any unlawful act such as, for example, copyright infringement.

SUSPENSION AND TERMINATION
We will determine, in our discretion, whether there has been a breach of this acceptable use policy through your use of our site. When a breach of this policy has occurred, we may take such action as we deem appropriate.

Failure to comply with these terms of use may result in our taking all or any of the following actions:
- Immediate, temporary or permanent withdrawal of your right to use our site;
- Immediate, temporary or permanent removal of any posting or material uploaded by you to our site;
- Issue of a warning to you;
- Legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach;
- Further legal action against you;
- Disclosure of such information to law enforcement authorities as we reasonably feel is necessary.

The responses described in this policy are not limited, and we may take any other action we reasonably deem appropriate.

ACCESSING OUR SITE
Access to our site is permitted on a temporary basis, and we reserve the right to withdraw or amend the service we provide on our site without notice. We will not be liable if for any reason our site is unavailable at any time or for any period. From time to time, we may restrict access to some parts of our site, or our entire site, to users who have registered with us.
If you choose, or you are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential, and you must not disclose it to any third party. We have the right to disable any user identification code or password, whether chosen by you or allocated by us, at any time, if in our opinion you have failed to comply with any of the provisions of these terms of use. You are responsible for making all arrangements necessary for you to have access to our site. You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms, and that they comply with them.

INTELLECTUAL PROPERTY RIGHTS
There are two types of content on our site:
- Content protected by the intellectual property rights of our site. These works are protected by copyright laws and treaties worldwide and can not be copied, downloaded, modified, passed on, sold or disclosed without prior authorization. All these rights are reserved. If you print off, copy or download any part of our site in breach of these terms of use, your right to use our site will cease immediately and you must, at our option, return or destroy any copies of the materials you have made;
- Free content, with public origin on the internet. These contents may be redistributed or modified, respecting the licensing of their origin.

In both content types, you may print off one copy, and may download extracts, of any page(s) from our site for your personal reference and you may draw the attention of others to material posted on our site. You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text. Our status (and that of any identified contributors) as the authors of material on our site must always be acknowledged. You must not use any part of the materials on our site for commercial purposes without obtaining a licence to do so from us or our licensors.

RELIANCE ON INFORMATION POSTED
Commentary and other materials posted on our site are not intended to amount to advice on which reliance should be placed. We therefore disclaim all liability and responsibility arising from any reliance placed on such materials by any visitor to our site, or by anyone who may be informed of any of its contents.

OUR SITE CHANGES REGULARLY
We aim to update our site regularly, and may change the content at any time. If the need arises, we may suspend access to our site, or close it indefinitely. Any of the material on our site may be out of date at any given time, and we are under no obligation to update such material.

OUR LIABILITY
The material displayed on our site is provided without any guarantees, conditions or warranties as to its accuracy. To the extent permitted by law, we expressly exclude:
- All conditions, warranties and other terms which might otherwise be implied by statute, common law or the law of equity;
- Any liability for any direct, indirect or consequential loss or damage incurred by any user in connection with our site or in connection with the use, inability to use, or results of the use of our site, any websites linked to it and any materials posted on it, including, without limitation any liability for:
    - loss of income or revenue;
    - loss of business;
    - loss of profits or contracts;
    - loss of anticipated savings;
    - loss of data;
    - loss of goodwill;
    - wasted management or office time;
    - and for any other loss or damage of any kind, however arising and whether caused by tort (including negligence), breach of contract or otherwise, even if foreseeable, provided that this condition shall not prevent claims for loss of or damage to your tangible property or any other claims for direct financial loss that are not excluded by any of the categories set out above.

This does not affect our liability for death or personal injury arising from our negligence, nor our liability for fraudulent misrepresentation or misrepresentation as to a fundamental matter, nor any other liability which cannot be excluded or limited under applicable law.

INFORMATION ABOUT YOU AND YOUR VISITS TO OUR SITE
We process information about you in accordance with our privacy policy. By using our site, you consent to such processing and you warrant that all data provided by you is accurate.

TRANSACTIONS CONCLUDED THROUGH OUR SITE
Contracts for the supply of services formed through our site or as a result of visits made by you are governed by our terms and conditions of supply.

UPLOADING MATERIAL TO OUR SITE
Whenever you make use of a feature that allows you to upload material to our site, or to make contact with other users of our site, you must comply with the content standards set out above. You warrant that any such contribution does comply with those standards, and you indemnify us for any breach of that warranty. Any material you upload to our site will be considered non-confidential and non-proprietary, and we have the right to use, copy, distribute and disclose to third parties any such material for any purpose.
We also have the right to disclose your identity to any third party who is claiming that any material posted or uploaded by you to our site constitutes a violation of their intellectual property rights, or of their right to privacy.
We will not be responsible, or liable to any third party, for the content or accuracy of any materials posted by you or any other user of our site. We have the right to remove any material or posting you make on our site if, in our opinion, such material does not comply with the content standards set out above.

VIRUSES, HACKING AND OTHER OFFENSES
You must not misuse our site by knowingly introducing viruses, trojans, worms, logic bombs or other material which is malicious or technologically harmful. You must not attempt to gain unauthorized access to our site, the server on which our site is stored or any server, computer or database connected to our site. You must not attack our site via a denial-of-service attack or a distributed denial-of service attack. By breaching this provision, you would commit a criminal offense. We will report any such breach to the relevant law enforcement authorities and we will co-operate with those authorities by disclosing your identity to them. In the event of such a breach, your right to use our site will cease immediately. We will not be liable for any loss or damage caused by a distributed denial-of-service attack, viruses or other technologically harmful material that may infect your computer equipment, computer programs, data or other proprietary material due to your use of our site or to your downloading of any material posted on it, or on any website linked to it.

LINKING TO OUR SITE
You may link to our home page, provided you do so in a way that is fair and legal and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. You must not establish a link from any website that is not owned by you. Our site must not be framed on any other site, nor may you create a link to any part of our site other than the home page. We reserve the right to withdraw linking permission without notice. The website from which you are linking must comply in all respects with the content standards set out above.
If you wish to make any use of material on our site other than that set out above, please address your request to: dev@vectortowns.com

LINKS FROM OUR SITE
Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.

JURISDICTION AND APPLICABLE LAW
The Brazilian courts will have exclusive jurisdiction over any claim arising from, or related to, a visit to our site although we retain the right to bring proceedings against you for breach of these conditions in your country of residence or any other relevant country. These terms of use and any dispute or claim arising out of or in connection with them or their subject matter or formation (including non-contractual disputes or claims) shall be governed by and construed in accordance with the law of the Federative Republic of Brazil.

VARIATIONS
We may revise these terms of use at any time by amending this page. You are expected to check this page from time to time to take notice of any changes we made, as they are binding on you. Some of the provisions contained in these terms of use may also be superseded by provisions or notices published elsewhere on our site.

YOUR CONCERNS
If you have any concerns about material which appears on our site, please contact dev@vectortowns.com</div>

<br />

<!-- Vectortowns.com Codes of Conduct -->
<h5 class="pre-style-terms">Vectortowns.com Codes of Conduct</h5>
<div class="pre-style-terms">GAME CODE OF CONDUCT
By playing this game you are agreeing to the following terms. I will not:
- Create multiple accounts to gain more items or money while playing this game;
- Sell my account or account inventory for actual currency while playing this game;
- Cheat using 3rd party programs while playing this game;
- Take advantage of a bug or loophole while playing this game;
- Go against any other Code of Conducts I may pass while playing this game.

If you are caught going against these terms, you will be dealt with appropriately by a staff member.

WIKI CODE OF CONDUCT
A wiki on our site is made available by wordpress.com. When using it, you must obey the rules of use wordpress.com, plus the rules of conduct listed below. I will not:
- Use heavy obscene language in my posts while using the wiki;
- Flame or harass another player while using the wiki;
- Attempt to gain access to another account or steal their objects while using the wiki;
- Post pictures of other players without their permission;
- Discriminate or be racist/sexist/etc to other players while using the wiki;
- Spam or flood while using the wiki.

If you are caught going against these terms, you will be dealt with appropriately by a staff member.

CHAT ROOMS CODE OF CONDUCT
By using this feature you are agreeing to the following terms. I will not:
- Use heavy obscene language to another player while using chat rooms;
- Flame or harass another player while using chat rooms;
- Attempt to gain access to another account or steal their objects while using chat rooms;
- Discriminate or be racist/sexist/etc to another player while using chat rooms;
- Spam or flood another player while using chat rooms;
- Spam or flood while using the chat rooms;

If you are caught going against these terms, you will be dealt with appropriately by a staff member.

PICTURE AND SIGNATURE CODE OF CONDUCT
By using this feature you are agreeing to the following terms. I will not:
- Upload obscene images while using this feature;
- Go against the player rules while using this feature;
- Upload illegal images while using this feature;
- Take credit for copywrited work while using this feature;
- Use pictures of other players without their permission in signatures or profile pictures;
- Hyper linking other players to infected sites while using this feature;
- Upload files in disagreement with the technical requirements displayed by the site (size of images, type of file, etc);
- Uploading infected files while using this feature.

If you are caught going against these terms, you will be dealt with appropriately by a staff member.

VECTORTOWNS WORLD ROOM CODE OF CONDUCT
By using this feature you are agreeing to the following terms. I will not:
- Send command to the site by mechanism different from the one made available by the site, such as robots that automate actions (bot).
- Go against the player rules while using this feature;
- Use pictures of other players without their permission in signatures or profile pictures;
- Hyper linking other players to infected sites while using this feature;
- Upload files in disagreement with the technical requirements displayed by the site (size of images, type of file, etc);
- Uploading infected files while using this feature.

If you are caught going against these terms, you will be dealt with appropriately by a staff member.

SECURITY CODE OF CONDUCT
By using all the features of this site, you agree to the following terms. I will not:
- Access or attempt access without Secure Socket Layer (SSL) offered by the HTTPS protocol of the site;
- Fraud or attempt to corrupt the trust of the electronic certificate chosen by site to authenticate the services;
- To knowingly transmit any data, send or upload any material that contains viruses, trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware;
- Block, attempt to block, or compromise the performance of the site with denial of service attacks, distributed denial of service, or any malicious resources.

If you are caught going against these terms, you will be dealt with appropriately by a staff member.</div>

<br />

<!-- Vectortown's game offenses and punishments -->
<h5 class="pre-style-terms">Vectortown.com's game offenses and punishments</h5>
<div class="pre-style-terms">DELETION OR GAME BAN
A account can be deleted with all game data if:
- The user tries or negotiates elements of this game for money or services. Buyers and sellers can be permanently banned from the game by the monitoring team;
- The user sell, provide or exchange your account with other users;
- The user invades the account of other users;
- The user exploits or attempts to exploit site vulnerabilities. If you find any, please let us know by dev@vectortowns.com and help us correct it;
- The user has multiple accounts. If you have lost access to your account, please let us know! We can help you get it back;
- The user commits social violations, such as discrimination, harassment, verbal abuse, publishing obscene content, compromising safety, pretend to be another person or authority, encourage rule-breaking, and flooding or spamming content that is unwanted, inappropriate or that causes game problems or irritation to other users.

Tracing illegally activities is simple, and any accounts involved will be terminated on the first offense. The vectortowns team may delete the account (and game data) of these offenders without warning.</div>

<br />