<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <% include ../../partials/title %>
    <% include ../../partials/game/css %>
</head>
<body>

<!-- Header -->
<section id="section-header" class="header">
    <nav>
        <div class="nav-wrapper indigo darken-3">
            <div class="brand-logo left logo">Inventário de Itens</div>
            <ul id="slide-out" class="side-nav">
                <li><a class="link selected" href="#!">α – Abrir Fechaduras</a></li>
                <li><a class="link" href="#!">β – Furtividade</a></li>
                <li><a class="link" href="#!">γ – Sobrevivência</a></li>
                <li><a class="link" href="#!">δ – Furtar</a></li>
                <li><a class="link" href="#!">ε – Hacker de Computador</a></li>
                <li><a class="link" href="#!">ζ – Artilharia Leve</a></li>
                <li><a class="link" href="#!">η – Artilharia de Assalto</a></li>
                <li><a class="link" href="#!">θ – Artilharia Pesada</a></li>
                <li><a class="link" href="#!">§ – Artilharia Avançada</a></li>
                <li><a class="link" href="#!">ι – Armas Brancas à Distância</a></li>
                <li><a class="link" href="#!">κ – Armas Brancas Corpo a Corpo</a></li>
                <li><a class="link" href="#!">λ – Perícia de Combate</a></li>
                <li><a class="link" href="#!">μ – Arsenal Rústico</a></li>
                <li><a class="link" href="#!">ν – Perito em Explosivos</a></li>
                <li><a class="link" href="#!">ξ – Armeiro</a></li>
                <li><a class="link" href="#!">ο – Ferreiro</a></li>
                <li><a class="link" href="#!">π – Alvenaria</a></li>
                <li><a class="link" href="#!">ρ – Habilidades Mecatrônicas</a></li>
                <li><a class="link" href="#!">♰ – Habilidades Médicas</a></li>
                <li><a class="link" href="#!">ς – Xamanismo</a></li>
                <li><a class="link" href="#!">σ – Reparação Mecânica</a></li>
                <li><a class="link" href="#!">τ – Fortaleza Inquebrantável</a></li>
                <li><a class="link" href="#!">હ – Obras de Fogo</a></li>
                <li><a class="link" href="#!">φ – Obras de Gelo</a></li>
                <li><a class="link" href="#!">χ – Obras de Luz</a></li>
                <li><a class="link" href="#!">ψ – Obras de Ocultismo</a></li>
                <li><a class="link" href="#!">ω – Investigação</a></li>
                <li><a class="link" href="#!">ϑ – Persuasão</a></li>
                <li><a class="link" href="#!">ϒ – Intimidação</a></li>
                <li><a class="link" href="#!">ϖ – Ensinamento</a></li>
                <li><a class="link" href="#!">υ – Materiais Venenosos</a></li>
                <li><a class="link" href="#!">๛ – Materiais Radioativos</a></li>
                <li><a class="link" href="#!">∞ - Outros</a></li>
            </ul>
            <a id="items-menu" href="#" data-activates="slide-out" class="button-collapse show-on-large right"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="col s12 m12 l12 title">
        <span>β – Furtividade</span>
    </div>
    <div class="col s12 m12 l12 hr">
        <hr />
    </div>
</section>
<!-- Header -->

<!-- Items -->
<section id="section-items" class="items">

    <div class="level">
        <div class="container">
            <div class="item item-1"><img class="item" src="<%= staticServer %>/static/img/game/beretta_92.png" /></div></li>
            <div class="item-describe">
                Beretta 92
            </div>
        </div>
    </div>
    <div class="level">
        <div class="container">
            <div class="item item-1"><img class="item" src="<%= staticServer %>/static/img/game/beretta_92.png" /></div></li>
            <div class="item-describe">
                Beretta 92
            </div>
        </div>
    </div>
    <div class="level">
        <div class="container">
            <div class="item item-1"><img class="item" src="<%= staticServer %>/static/img/game/beretta_92.png" /></div></li>
            <div class="item-describe">
                Beretta 92
            </div>
        </div>
    </div>
    <div class="level">
        <div class="container">
            <div class="item item-1"><img class="item" src="<%= staticServer %>/static/img/game/beretta_92.png" /></div></li>
            <div class="item-describe">
                Beretta 92
            </div>
        </div>
    </div>

</section>
<!-- Items -->

    <% include ../../partials/game/js %>
</body>
</html>