<!DOCTYPE html>
<html lang="pt_BR">
<head>
    <% include ../../partials/title %>
    <% include ../../partials/game/css %>
</head>
<body>

<section class="items">

    <div class="row">
        <a href="#!" class="col s2 m1 l1 link selected"><span>ζ</span></a>
        <a href="#!" class="col s2 m1 l1 link"><span>η</span></a>
        <a href="#!" class="col s2 m1 l1 link"><span>θ</span></a>
        <a href="#!" class="col s2 m1 l1 link"><span>§</span></a>
        <a href="#!" class="col s2 m1 l1 link"><span>ι</span></a>
        <a href="#!" class="col s2 m1 l1 link"><span>κ</span></a>
        <a href="#!" class="col s2 m1 l1 link"><span>λ</span></a>
        <a href="#!" class="col s2 m1 l1 link"><span>μ</span></a>
        <a href="#!" class="col s2 m1 l1 link"><span>ν</span></a>
        <a href="#!" class="col s2 m1 l1 link"><span>τ</span></a>
        <a href="#!" class="col s4 m2 l2 link"><span class="inv">INV</span></a>
        <div class="col s12 m12 l12 title">
            <span>ζ - Artilharia Leve</span>
        </div>
        <div class="col s12 m12 l12 hr">
            <hr />
        </div>
    </div>
</section>

    <% include ../../partials/game/js %>
</body>
</html>